/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,*::before,*::after{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
/* wrap樣式 */
.wrap{
  max-width: 1024px;
  margin: 0 auto;
  line-height: 1.5;
}
/* header樣式 */
.header{
  display: flex;
  position: relative;
  height: 420px;
  padding: 16px;
  justify-content: space-between;
  background: rgba(0,0,0,0.75);
  background-image: url(https://hexschool.github.io/Rwd_sketch_export/assets/header_desktop.png);
}
.logo{
  width: 120px;
  height: 24px;
  background-image: url(https://hexschool.github.io/Rwd_sketch_export/assets/logo_w@svg.svg);
  background-repeat: repeat-x;
}
.logo a{
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}
.menu{
  display: flex;
}
.menu a{
  padding: 16px;
  color: #FFFFFF;
}
.menu a:hover{
  color: red;
}
.bannerText{
  position: absolute;
  top: 123px;
  left: 295px;
  width: 460px;
  height: 152px;
  background: rgba(0,0,0,0.35);
  text-align: center;
}
.bannerText h2{
  color: #FFFFFF;
  font-size: 36px;
  margin-top: 20px;
}
.bannerText p{
  margin-top: 16px;
  color: #FFFFFF;
}


/* content樣式 */
.content{
  color: #3D1101;
  background: #EFE9E7;
}
/* index樣式 */
.index h2{
  text-align: center;
  font-size: 20px;  
  line-height: 32px;
  padding-top: 50px;
}
.index ul img{
  border-radius: 50%;
}
.index ul{
  display: flex;
  margin: 0 30px;
}
.index li{
  width: 33.33333%;
  text-align: center;
  padding: 30px;
}
.index h3{
  font-size: 18px;
  margin: 20px 0 11px 0;
}
.index p{
  text-align: left;
}
/* box樣式 */
.box{
  display: flex;
  background: #3D1101;
  padding-left: 42px;
  margin-bottom: 50px;
}
.boxText{
  padding-left: 25px;
  padding-right: 77px;
}
.boxText h3{
  font-size: 20px;
  color: #EFE9E7;
  line-height: 25px;
  padding-top: 81px;
}
.boxText p{ 
  font-size: 16px;
  color: #EFE9E7;
}

/* box2樣式 */
.box2 h4{
  font-size: 24px;
  text-align: center;
}
.box2 li{
  display: flex;
}
.box2 img{
  width: 67px;
  height: 67px;
}
.box2 h5{
  font-size: 18px;
  text-align: left;
  padding: 13px;
}
.box2 p{
  margin: 10px 0;
}
.box2Text{
  float: right;
  font-size: 16px;
  color: rgba(61,17,0,0.75);
  line-height: 24px;
}
/* box3樣式 */
.box3{
  background: rgba(250,250,250,0.70);
}
.box3 h4{
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 38px;
  text-align: center;
}
.box3Form{
  display: flex;
  padding: 0 42px;
}
.box3Form img{
  width: 460px;
  height: 386px;
}
.pure-form{
  padding-left: 20px;
  width: 500px;
}
.box3Form .pure-form-stacked .pureInput{
  margin-bottom: 12px;
  width: 100%;
}
.box3Form .radio{
  display: flex;
}
.pure-radio{
  padding-right: 36px;
}
.pure-button:nth-of-type(1){  
  background: #F56C23;
}
.pure-button:nth-of-type(2){  
  background: rgba(0,0,0,0.35);
}
.pure-button-primary{
  float: right;
  margin-right: 11px;
}

/* footer樣式 */
.footer{
  display: flex;
  background: #EFE9E7;
  padding: 50px 20px 0 20px;
  color: #3D1101;
}
.footerItem{
  width: 300px;
  margin: 0 20px;
}
.footerItem h5{
  font-size: 24px;
  margin-bottom: 16px;
}
.footerItem2{
  width: 300px;
  margin-right: 75px;
}
.footerItem2 h5{
  font-size: 24px;
  margin-bottom: 16px;
}
.footerItem3 ul{
  font-size: 36px;
  display: flex;
  justify-content: end;
}
.footerItem3 li{
  margin: 0 6px;
}
